/**
 * Place your custom CSS styles here.
 **/
#expert_menu
{
    width:320px;
    height:100%;
    background-color:#fff;
    position:fixed;
    right:0;
    top:0;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.3);
    z-index: 999999999;
    font-family: "Open Sans";
    padding:20px 10px 10px;
    text-align: left;
}

#expert_menu #expert_menu_logo
{
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/menu-logo.png');
    background-repeat: no-repeat;
    width:189px;
    height:59px;
    margin:0 auto;
    padding:0 0 10px;
    border:#ccc solid;
    border-width:0 0 1px;
}

#expert_menu #expert_menu_loader
{
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/loader-balls.gif');
    width:72px;
    height:72px;
    position:absolute;
    left:50%;
    top:200px;
    margin:-36px 0 0 -36px;
}

#expert_menu #expert_menu_inner
{
    display: none;
}

#expert_menu .expert_submenu
{
    padding:20px 0 0;
}

#expert_menu .expert_sub_title
{
    font-weight: bold;
    font-size:14px;
    color:#333;
    margin:0 0 10px;

}

#expert_menu .expert_keyword
{
    width:133px;
    margin:0 5px 10px 5px;
    padding:3px 0;
    text-align:center;
    color:#222;
    font-size:13px;
    background-color: #efefef;
    display:inline-block;
}


#expert_menu iframe
{
    width:300px;
    height:400px;
    border:0;
    padding:0;
    margin:0;
}
