/**
 * Place your custom CSS styles here.
 **/
#expert_menu
{
    width:300px;
    height:100%;
    background-color:#fff;
    position:fixed;
    right:0;
    top:0;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.3);
    z-index: 999999999;
    font-family: "Open Sans";
    padding:20px 10px 10px;
}

#expert_menu_logo
{
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/menu-logo.png');
    width:189px;
    height:49px;
    margin:0 auto;

}


#expert_keyword_container
{
    padding:20px 0 0;
}

#expert_keyword_container_title
{
    font-weight: bold;
    font-size:14px;
    color:#333;
    margin:0 0 10px;
}

.expert_keyword
{
    width:130px;
    margin:0 5px 10px 5px;
    padding:3px 0;
    text-align:center;
    color:#222;
    font-size:13px;
    background-color: #efefef;
    display:inline-block;
}
